---
import CenteredLayout from '@/layouts/CenteredLayout.astro';
import { getAuthenticatedUser } from '@/firebase/serverUtils.js';
import H1 from '@/components/ui/h1';
import P from '@/components/ui/p';

const user = await getAuthenticatedUser(Astro.cookies);
const isUserAuthenticated = !!user;

if (isUserAuthenticated === false) {
    return Astro.redirect('/signin');
}

---
<CenteredLayout title="Dashboard" isUserAuthenticated={isUserAuthenticated}>
    <H1>Welcome {user.displayName}</H1>
    <P>This is a protected dashboard that only you can see.</P>
</CenteredLayout>
