---
import CenteredLayout from '@/layouts/CenteredLayout.astro';
import { getAuthenticatedUser } from '@/firebase/serverUtils.js';

const user = await getAuthenticatedUser(Astro.cookies);
const isUserAuthenticated = !!user;

if (isUserAuthenticated === false) {
    return Astro.redirect('/signin');
}

---
<CenteredLayout title="Dashboard" isUserAuthenticated={isUserAuthenticated}>
    <h1>Welcome <span class="font-bold">{user.displayName}</span></h1>
    <p>This is a protected dashboard that only you can see.</p>
</CenteredLayout>
