---
import Layout from '../layouts/Layout.astro';
import { app } from '../firebase/server.js';
import { getAuth } from 'firebase-admin/auth'

const auth = getAuth(app);

/* check current session */
if(!Astro.cookies.get('__session')) {
    return Astro.redirect('/signin');
}
/* get the user */
const sessionCookies = Astro.cookies.get('__session').value;
const decodedCookies = await auth.verifySessionCookie(sessionCookies);
const user = await auth.getUser(decodedCookies.uid);

/* redirect to sign in if user is not found */
if(!user) {
    return Astro.redirect('/signin');
}
---
<Layout title="Dashboard">
    <h1>Welcome {user.displayName}</h1>
    <p>This is a protected dashboard that only you can see.</p>
    <form action="/api/auth/signout" method="GET">
        <button type="submit" id="signout-btn">Sign out</button>
    </form>
</Layout>
