---
import CenteredLayout from "@/layouts/CenteredLayout.astro";
import H1 from "@/components/ui/h1.jsx";
import P from "@/components/ui/p.jsx";
---

<CenteredLayout>
<H1>Firebase Login Demo</H1>
<P>
This is a demo of how to use Firebase Authentication with Astro. You can
login with Google, Facebook, Twitter, or GitHub.
</P>
</CenteredLayout>
