---
import CenteredLayout from '@/layouts/CenteredLayout.astro';
import { app } from '../firebase/server';
import { getAuth } from 'firebase-admin/auth';
import { Card, CardHeader, CardTitle, CardDescription, CardContent, CardFooter } from '@/components/ui/card';
import { Input } from '@/components/ui/input';
import { Label } from '@/components/ui/label';
import { Button } from '@/components/ui/button';
import LoginWithGoogle from '@/components/ui/loginWithGoogleBtn';

// check if user is authenticated
const auth = getAuth(app);
if(Astro.cookies.has("__session")) {
    const sessionCookies = Astro.cookies.get("__session").value;
    const decodedCookies = await auth.verifySessionCookie(sessionCookies);
    if(decodedCookies) {
        return Astro.redirect('/dashboard');
    }
}

---
<CenteredLayout title="Login Page">
<Card className="w-[350px]">
    <CardHeader>
        <CardTitle>Login</CardTitle>
        <CardDescription>Enter your email and password to login. New user? <a href="/register">Resigter here</a></CardDescription>
    </CardHeader>
    <CardContent>

    <form id="login-form">
    <div class="grid w-full items-center gap-4">
        <div class="flex flex-col space-y-1.5">
            <Label htmlFor="email">Email</Label>
            <Input type="email" name="email" id="email" placeholder="Email" />
        </div>

        <div class="flex flex-col space-y-1.5">
            <Label htmlFor="password">Password</Label>
            <Input type="password" name="password" id="password" placeholder="Password" />
        </div>
    </div>
    </form>
    </CardContent>
    <CardFooter className="flex-wrap">
        <Button type="submit" form="login-form" className="basis-full">Login</Button>
        <div class="flex items-center my-4 basis-full *:border-stone-300 *:text-stone-300">
            <div class="flex-grow basis-full border-t-2"/>
            <span class="mx-2 pb-1">or</span>
            <div class="flex-grow basis-full border-t-2"/>
        </div>
        <LoginWithGoogle className="basis-full" id="google" client:load/>
    </CardFooter>
</Card>
</CenteredLayout>
<script>
    import { getAuth, inMemoryPersistence, signInWithEmailAndPassword } from 'firebase/auth';
    import { app } from '../firebase/client';

    const auth = getAuth(app);

    auth.setPersistence(inMemoryPersistence);

    const form = document.querySelector('#login-form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const email = formData.get('email')?.toString();
        const password = formData.get('password')?.toString();

        if(!email || !password) {
            return;
        }

        const userCredential = await signInWithEmailAndPassword(
            auth,
            email,
            password
        );

        const idtoken = await userCredential.user.getIdToken();
        const response = await fetch('/api/auth/signin', {
            method: 'GET',
            headers: {
                Authorization: `Bearer ${idtoken}`
            }
        })
        .catch(err => {
            console.error(err);
        })

        if(response.redirected){
            //print url
            console.log(response.url);
            window.location.assign(response.url);
        }
    });


</script>
