---
import Layout from '@/layouts/Layout.astro'
import { Button }from '@/components/ui/button'

const {
    title,
    mainCls = "container max-w-[800px]"
} = Astro.props;
---
<Layout title={title}>
<header class="flex flex-row justify-between items-center h-16 py-2 px-8">
    <img src="https://via.placeholder.com/150" alt="logo" class="h-12 w-12"/>
    <Button asChild>
        <a href="/signin">Login</a>
    </Button>
</header>
<main class={mainCls}>
    <slot/>
</main>
</Layout>

