---
import Layout from '@/layouts/Layout.astro'
import { Button } from '@/components/ui/button'
import { buttonVariants }from '@/components/ui/button'

const {
    title,
    mainCls = "container max-w-[800px] min-h-[calc(100dvh-4rem)]",
    isUserAuthenticated = false
} = Astro.props;
---
<Layout title={title}>
<header class="flex flex-row justify-between items-center h-16 py-2 px-8">
    <a class="flex flex-row items-center gap-2" href="/">
        <img src="https://via.placeholder.com/150" alt="logo" class="h-12 w-12"/>
        <div>Logo</div>
    </a>
    <nav class="flex flex-row gap-4">
        <a class:list={[buttonVariants({variant: 'link'}), {hidden: isUserAuthenticated }]} href="/signin">Login</a>
        <a class:list={[buttonVariants({variant: 'default'}), {hidden: isUserAuthenticated } ]} href="/register">Sign Up</a>
        <form class:list={[{'*:hidden': !isUserAuthenticated }]} action="/api/auth/signout" method="GET">
            <Button type="submit">Sign out</Button>
        </form>
    </nav>
</header>
<main class={mainCls}>
    <slot/>
</main>
</Layout>

